Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

add pytest split
  poetry.lock
  pyproject.toml
Due: none

Release date for 0.158.0
  RELEASE.rst
Due: none

add coverage job
  .github/workflows/ci.yml
Due: none

remove coveragerc fail under
  .coveragerc
Due: none

increase parallel runners to 8
  .github/workflows/ci.yml
Due: none

disable coverage combine
  .github/workflows/ci.yml
Due: none

increase jobs to 12
  .github/workflows/ci.yml
Due: none

Release 0.159.0
  RELEASE.rst
  mitxpro/settings.py
Due: none

fix: added publicPath in webpack prod config to fix errors
  webpack.config.prod.js
Due: eslint

fix: some changes to public path
  webpack.config.prod.js
Due: eslint

fix: webpack build issues
  webpack.config.shared.js
Due: eslint

fix: some suggested changes
  docker-compose.yml
  hot-reload-dev-server.js
  webpack.config.prod.js
Due: eslint

fix: yarn error
  yarn.lock
Due: none

fix: fmt issues
  hot-reload-dev-server.js
Due: eslint

fix: added png and jpg in inline assets
  webpack.config.shared.js
Due: eslint

fix: use support email address from configurations(settings)
  ecommerce/mail_api.py
  ecommerce/mail_api_test.py
  mail/templates/product_order_receipt/body.html
Due: none

fix: tests
  static/js/components/forms/CouponForm.js
Due: eslint

fix: some more tests
  static/js/components/forms/ProfileFormFields.js
Due: eslint

fix: all tests
  static/js/components/forms/ProfileFormFields.js
Due: eslint

fix: use support email address from configurations(settings) (#3127)
  ecommerce/mail_api.py
  ecommerce/mail_api_test.py
  mail/templates/product_order_receipt/body.html
Due: none

Release date for 0.159.0
  RELEASE.rst
Due: none

fix: tests
  ecommerce/api_test.py
  ecommerce/mail_api_test.py
  ecommerce/views_test.py
  mail/api_test.py
  poetry.lock
  pyproject.toml
  sheets/views_test.py
Due: none

Revert "fix(deps): update dependency sass to ~1.78.0"
  package.json
  yarn.lock
Due: none

fix: maxmind test
  maxmind/api_test.py
Due: none

Revert "fix(deps): update dependency sass to ~1.78.0" (#3145)
  package.json
  yarn.lock
Due: none

refactor: webpack analyzer on demand
  config/nginx.conf.erb
  webpack.config.prod.js
Due: eslint

fix: block report.html file access of Webpack bundles
  config/nginx.conf.erb
Due: none

fix: code formatting
  webpack.config.prod.js
Due: eslint

refactor: refinement
  webpack.config.prod.js
Due: eslint

fix: update yarn.lock
  yarn.lock
Due: none

fix: add/pin eslint-plugin-react-hooks
  package.json
  yarn.lock
Due: none

fix: don't generate report.html file for RC and Production (#3125)
  webpack.config.prod.js
Due: eslint

Don't fail app init if settings.py is reloaded
  mitxpro/settings.py
Due: none

more refactoring
  cms/api.py
  cms/constants.py
  cms/models.py
  cms/templates/catalog_page.html
  static/scss/catalog/tabs.scss
Due: scss-lint

dropdown with select
  cms/api.py
  cms/templates/catalog_page.html
  static/scss/catalog/tabs.scss
Due: scss-lint

more style updates
  cms/templates/catalog_page.html
  static/scss/catalog/tabs.scss
Due: scss-lint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
