Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

fix: issues
  static/scss/ecommerce-admin.scss
Due: scss-lint

refactoring
  courses/sync_external_courses/emeritus_api.py
  courses/sync_external_courses/emeritus_api_test.py
Due: none

refactoring
  courses/sync_external_courses/emeritus_api.py
Due: none

style: add trademark logos
  static/images/mit-xpro-logo.png
  static/images/mit-xpro-logo.svg
Due: none

Release date for 0.160.4
  RELEASE.rst
Due: none

style: add trademark logos (#3176)
  static/images/mit-xpro-logo.png
  static/images/mit-xpro-logo.svg
Due: none

Release 0.160.5
  RELEASE.rst
  mitxpro/settings.py
Due: none

Release date for 0.160.5
  RELEASE.rst
Due: none

feat: skip non usd emeritus courses (#3174)
  courses/sync_external_courses/emeritus_api.py
  courses/sync_external_courses/emeritus_api_test.py
  courses/sync_external_courses/test_data/batch_test.json
Due: none

Release 0.160.6
  RELEASE.rst
  mitxpro/settings.py
Due: none

feat: enabled access control restrictions
  ecommerce/management/commands/invalidate_payment_coupons.py
  ecommerce/permissions.py
  ecommerce/utils.py
  ecommerce/views.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/js/global_init.js
Due: eslint

fix: added and fixed tests and other errors
  ecommerce/permissions.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  fixtures/common.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/scss/ecommerce-admin.scss
  static/scss/variables.scss
Due: eslint, scss-lint

fix: ruff, flow errors
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  mitxpro/views.py
  mitxpro/views_test.py
Due: none

fix: pre-commit errors
  ecommerce/management/commands/invalidate_payment_coupons.py
  ecommerce/permissions.py
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  fixtures/common.py
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/containers/pages/admin/EcommerceAdminPages.js
Due: eslint

fix: test
  ecommerce/utils_test.py
Due: none

fix: some cleanup
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views_test.py
  mitxpro/views_test.py
Due: none

fix: included example in the note
  static/js/components/forms/CouponDeactivateForm.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: fmt
  cms/templates/partials/keep_me_updated_button.html
Due: none

fix: docker compose version warning and remove travis
  .secrets.baseline
  docker-compose.override.yml
  docker-compose.travis.yml
  docker-compose.yml
Due: none

fix pre-commit
  cms/api.py
Due: none

more refactoring
  cms/api.py
  cms/models.py
  courses/utils.py
  courses/views/v1/__init__.py
Due: none

refactor: standardize Catalog & API courseware
  cms/api.py
  cms/models.py
  cms/templates/partials/card_details_top.html
Due: none

move conditions outside of the model into the filter
  cms/api.py
  courses/views/v1/__init__.py
Due: none

deps: remove pinned ua-parser and update it
  poetry.lock
  pyproject.toml
Due: none

deps: remove unused drf-flex-fields
  poetry.lock
  pyproject.toml
Due: none

deps: rebase and updated hash
  poetry.lock
Due: none

deps: remove drf-flex-fields
  poetry.lock
  pyproject.toml
Due: none

deps: remove drf-flex-fields (#3192)
  poetry.lock
  pyproject.toml
Due: none

Release date for 0.160.6
  RELEASE.rst
Due: none

fix: docker compose version warning and remove travis (#3189)
  .secrets.baseline
  docker-compose.override.yml
  docker-compose.travis.yml
  docker-compose.yml
Due: none

feat: add coupons deactivate form
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/js/lib/queries/ecommerce.js
  static/js/lib/urls.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

tests: added tests and some cleanups
  ecommerce/views.py
  ecommerce/views_test.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/components/forms/CouponDeactivateForm_test.js
  static/js/constants.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/lib/queries/ecommerce.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: ruff issues
  ecommerce/views.py
Due: none

fix: typo
  static/js/constants.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
Due: eslint

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: small issue
  ecommerce/views.py
Due: none

fix: test
  ecommerce/views.py
  ecommerce/views_test.py
  static/scss/ecommerce-admin.scss
Due: scss-lint

fix:pre-commit errors
  .secrets.baseline
  ecommerce/views.py
  static/scss/ecommerce-admin.scss
Due: scss-lint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
