Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

style chevron
  static/scss/catalog/tabs.scss
Due: scss-lint

update responsiveness
  static/scss/catalog/tabs.scss
Due: scss-lint

separate js
  cms/templates/catalog_page.html
  static/js/catalogSorting.js
  static/js/entry/django.js
Due: eslint

enhance style
  static/scss/catalog/tabs.scss
Due: scss-lint

feat: add sorting option
  cms/api.py
  cms/models.py
  cms/templates/catalog_page.html
Due: none

update dropdown type and add sorting backend
  cms/api.py
  cms/templates/catalog_page.html
  static/scss/catalog/tabs.scss
Due: scss-lint

add catalog context test
  cms/views_test.py
Due: none

fix test
  cms/api_test.py
Due: none

fix high-low sort in case of None prices
  cms/api.py
Due: none

refactoring
  cms/api.py
Due: none

more styling
  cms/templates/catalog_page.html
  static/scss/catalog/tabs.scss
Due: scss-lint

add program tests
  cms/api_test.py
Due: none

refactoring
  cms/api.py
  cms/constants.py
  cms/models.py
Due: none

add price sorting test
  cms/api_test.py
Due: none

review changes
  cms/api.py
  cms/models.py
  cms/templates/catalog_page.html
Due: none

fix tests
  cms/api_test.py
  cms/views_test.py
Due: none

Release 0.159.1
  RELEASE.rst
  mitxpro/settings.py
Due: none

feat: add bulk topics topics command
  courses/management/commands/bulk_load_topics.py
  courses/management/commands/resources/test_topics_data.csv
  courses/management/commands/test_bulk_load_topics.py
Due: none

refactor code
  courses/management/commands/bulk_load_topics.py
  courses/management/commands/test_bulk_load_topics.py
Due: none

address feedback
  courses/management/commands/bulk_load_topics.py
  courses/management/commands/resources/test_topics_data.csv
  courses/management/commands/test_bulk_load_topics.py
Due: none

minor feedback
  courses/management/commands/bulk_load_topics.py
Due: none

fix: support email address from configurations(settings) on all templates
  cms/templates/partials/faqs.html
  ecommerce/mail_api.py
  ecommerce/mail_api_test.py
  mail/templates/product_order_receipt/body.html
  mail/templates/welcome_course_run_enrollment/body.html
  mitxpro/views.py
  voucher/templates/redeemed.html
Due: none

Release date for 0.159.1
  RELEASE.rst
Due: none

feat: load topics in bulk from CSV (#3156)
  courses/management/commands/bulk_load_topics.py
  courses/management/commands/resources/test_topics_data.csv
  courses/management/commands/test_bulk_load_topics.py
Due: none

fix: test
  cms/models_test.py
Due: none

Release 0.160.0
  RELEASE.rst
  mitxpro/settings.py
Due: none

fix: support email address from configurations(settings) on all templates (#3157)
  cms/models_test.py
  cms/templates/partials/faqs.html
  ecommerce/mail_api.py
  ecommerce/mail_api_test.py
  mail/templates/product_order_receipt/body.html
  mail/templates/welcome_course_run_enrollment/body.html
  mitxpro/views.py
  voucher/templates/redeemed.html
Due: none

review changes
  cms/api.py
  cms/api_test.py
  cms/views_test.py
Due: none

feat: add sorting option (#3129)
  cms/api.py
  cms/api_test.py
  cms/constants.py
  cms/models.py
  cms/templates/catalog_page.html
  cms/views_test.py
  static/js/catalogSorting.js
  static/js/entry/django.js
  static/scss/catalog/tabs.scss
Due: eslint, scss-lint

feat: add coupons deactivate form
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/js/lib/queries/ecommerce.js
  static/js/lib/urls.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: python version in CI
  .github/workflows/ci.yml
Due: none

fix: update lock
  poetry.lock
Due: none

tests: added tests and some cleanups
  ecommerce/views.py
  ecommerce/views_test.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/components/forms/CouponDeactivateForm_test.js
  static/js/constants.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/lib/queries/ecommerce.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: ruff issues
  ecommerce/views.py
Due: none

fix: typo
  static/js/constants.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
Due: eslint

Release date for 0.160.0
  RELEASE.rst
Due: none

revert: revert the pygsheet uprgade https://github.com/mitodl/mitxpro/pull/2736
  poetry.lock
  pyproject.toml
Due: none

revert: revert the pygsheet uprgade https://github.com/mitodl/mitxpro/pull/2736 (#3161)
  poetry.lock
  pyproject.toml
Due: none

Release 0.160.1
  RELEASE.rst
  mitxpro/settings.py
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
