Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

Release date for 0.160.1
  RELEASE.rst
Due: none

fix: handle tampered queryparam
  cms/models.py
Due: none

fix: handle tampered queryparam
  cms/views_test.py
Due: none

fix: some issues
  static/js/components/forms/B2BPurchaseForm.js
  static/js/components/forms/ChangeEmailForm.js
  static/js/components/forms/ChangePasswordForm.js
  static/js/components/forms/CheckoutForm.js
  static/js/components/forms/CouponForm.js
  static/js/components/forms/CouponForm_test.js
  static/js/components/forms/EditProfileForm.js
  static/js/components/forms/EmailForm.js
  static/js/components/forms/LoginPasswordForm.js
  static/js/components/forms/RegisterDetailsForm.js
  static/js/components/forms/RegisterEmailForm.js
  static/js/components/forms/RegisterExtraDetailsForm.js
  static/js/components/forms/ResetPasswordForm.js
  static/js/lib/test_utils.js
Due: eslint

fix: handle tampered queryparam (#3164)
  cms/models.py
  cms/views_test.py
Due: none

Release 0.160.2
  RELEASE.rst
  mitxpro/settings.py
Due: none

Release date for 0.160.2
  RELEASE.rst
Due: none

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: small issue
  ecommerce/views.py
Due: none

fix: test
  ecommerce/views.py
  ecommerce/views_test.py
  static/scss/ecommerce-admin.scss
Due: scss-lint

fix:pre-commit errors
  .secrets.baseline
  ecommerce/views.py
  static/scss/ecommerce-admin.scss
Due: scss-lint

fix: pre-commit errors
  ecommerce/views_test.py
Due: none

fix: display homepage topics with courses
  cms/models.py
  cms/views_test.py
Due: none

fix: apply catalog filters on external course counts and fix topic URI encoe
  courses/models.py
  static/js/components/CatalogMenu.js
Due: eslint

feat: add catalog filter feature flag
  cms/models.py
  cms/templates/catalog_page.html
Due: none

fix: fmt issues
  cms/templates/catalog_page.html
Due: none

fix test
  courses/views_test.py
Due: none

fix: display homepage topics with courses (#3166)
  cms/models.py
  cms/views_test.py
  courses/models.py
  courses/views_test.py
  static/js/components/CatalogMenu.js
Due: eslint

Release 0.160.3
  RELEASE.rst
  mitxpro/settings.py
Due: none

Release date for 0.160.3
  RELEASE.rst
Due: none

fix: some issues
  cms/templates/catalog_page.html
Due: none

fix: renamed to enable_catalog_sorting
  cms/models.py
  cms/templates/catalog_page.html
Due: none

feat: add catalog filter feature flag (#3167)
  cms/models.py
  cms/templates/catalog_page.html
Due: none

feat: added confirmation modal
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

feat: added code to log history in CouponModel on coupon deactivation
  ecommerce/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
Due: eslint

fix: changed the default value of sorting featureflag
  cms/models.py
Due: none

fix: changed the default value of sorting featureflag (#3172)
  cms/models.py
Due: none

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: fmt issues
  static/scss/ecommerce-admin.scss
Due: scss-lint

fix: tests
  static/js/components/forms/CouponDeactivateForm_test.js
Due: eslint

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/components/forms/CouponDeactivateForm_test.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: tests
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
Due: eslint

feat: skip non usd emeritus courses
  courses/sync_external_courses/emeritus_api.py
  courses/sync_external_courses/emeritus_api_test.py
  courses/sync_external_courses/test_data/batch_test.json
Due: none

update docs
  courses/sync_external_courses/emeritus_api.py
Due: none

Release 0.160.4
  RELEASE.rst
  mitxpro/settings.py
Due: none

fix: issues
  ecommerce/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: issues
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
Due: eslint

fix: issues
  ecommerce/views.py
Due: none

fix: issues
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: issues
  static/scss/ecommerce-admin.scss
Due: scss-lint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
