Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

Release 0.157.1
  RELEASE.rst
  mitxpro/settings.py
Due: none

Release date for 0.157.1
  RELEASE.rst
Due: none

add popperjs/core
  package.json
  yarn.lock
Due: none

fix: silently fail name validation on connection error (#3107)
  courseware/api.py
  courseware/exceptions.py
Due: none

feat: display tax details for countries where taxes are enabled
  ecommerce/api.py
  ecommerce/mail_api.py
  mail/templates/product_order_receipt/body.html
  mitxpro/utils.py
  static/js/containers/pages/ReceiptPage.js
Due: eslint

feat: move receipt signature to the bottom and hide web widget text
  static/scss/receipt.scss
Due: scss-lint

test: fix test
  mitxpro/utils_test.py
Due: none

test: add test
  ecommerce/api.py
  ecommerce/api_test.py
Due: none

refactor
  ecommerce/api.py
Due: none

ui fixes
  static/js/containers/pages/ReceiptPage.js
  static/scss/receipt.scss
Due: eslint, scss-lint

feat: add hybrid format option for courseware page (#3105)
  cms/constants.py
  cms/migrations/0072_add_hybrid_courseware_format_option.py
  cms/models.py
  cms/models_test.py
  courses/serializers_test.py
Due: none

perf: improve API performance (#3106)
  courses/models.py
  courses/views/v1/__init__.py
Due: none

fix: fix dropdowns
  static/js/components/CatalogMenu.js
  static/js/components/UserMenu.js
  static/js/entry/django.js
  static/scss/layout.scss
  static/scss/user-menu.scss
Due: eslint, scss-lint

fix: build to run js test
  poetry.lock
  static/js/babelhook.js
Due: eslint

refactor: combine into one bundle other than mentioned in the entry
  webpack.config.dev.js
  webpack.config.prod.js
Due: eslint

build: update dependencies for webpack 4 to 5
  mitxpro/templates/base.html
  package.json
  poetry.lock
  pyproject.toml
  webpack.config.prod.js
  webpack.config.shared.js
  yarn.lock
Due: eslint

refactor: webpack upgrade with existing python
  poetry.lock
Due: none

fix: handle profile country flag
  ecommerce/api.py
  ecommerce/api_test.py
  ecommerce/mail_api.py
  mitxpro/utils.py
  static/js/containers/pages/ReceiptPage.js
Due: eslint

Upgrade Webpack from v4 to v5 (#3091)
  mitxpro/templates/base.html
  package.json
  poetry.lock
  pyproject.toml
  static/js/babelhook.js
  webpack.config.dev.js
  webpack.config.prod.js
  webpack.config.shared.js
  yarn.lock
Due: eslint

test: fix tests for python upgrade and update python version for CI
  .github/workflows/ci.yml
  courses/serializers_test.py
  ecommerce/api_test.py
  ecommerce/models_test.py
  ecommerce/views_test.py
  poetry.lock
  pyproject.toml
  users/factories.py
Due: none

fix: Resolve more failing pre-commit check
  .secrets.baseline
  authentication/pipeline/user.py
  courses/api.py
  courses/credentials.py
  courses/management/commands/defer_enrollment.py
  courses/management/commands/sync_grades_and_certificates.py
  courses/management/utils.py
  courses/views_test.py
  courseware/api.py
  ecommerce/api.py
  localdev/seed/api.py
  sheets/coupon_assign_api.py
  sheets/management/commands/process_deferral_requests.py
  sheets/management/commands/process_refund_requests.py
  sheets/management/commands/setup_file_watch.py
  users/api.py
  users/management/commands/retire_users.py
Due: none

build: update dependencies for webpack 4 to 5
  Dockerfile
  poetry.lock
  pyproject.toml
Due: none

fix: build to run js test
  poetry.lock
Due: none

fix: more precommit fixes
  courses/credentials.py
  ecommerce/api.py
Due: none

docs: few comments to hightlight and a test to refactor
  compliance/test_utils.py
  courses/management/commands/defer_enrollment.py
  courses/serializers_test.py
  courses/views_test.py
  courseware/api.py
  ecommerce/management/commands/invalidate_payment_coupons.py
  mitxpro/test_utils.py
  poetry.lock
Due: none

Release 0.158.0
  RELEASE.rst
  mitxpro/settings.py
Due: none

update poetry with appropriate dependencies
  poetry.lock
  pyproject.toml
Due: none

feat: display tax details for countries where taxes are enabled (#3109)
  ecommerce/api.py
  ecommerce/api_test.py
  ecommerce/mail_api.py
  mail/templates/product_order_receipt/body.html
  mitxpro/utils.py
  mitxpro/utils_test.py
  static/js/containers/pages/ReceiptPage.js
  static/scss/receipt.scss
Due: eslint, scss-lint

pin cheerio
  package.json
  yarn.lock
Due: none

disable cache for a moment and update python version for ruff
  .github/workflows/ci.yml
  pyproject.toml
Due: none

comment env create in ci
  .github/workflows/ci.yml
Due: none

reorder action steps
  .github/workflows/ci.yml
Due: none

update cache process ci
  .github/workflows/ci.yml
Due: none

update python version
  .github/workflows/ci.yml
Due: none

fix ruff lint
  cms/forms.py
  cms/models.py
  courses/sync_external_courses/emeritus_api.py
  hubspot_xpro/api.py
  mitxpro/exceptions.py
  mitxpro/test_utils.py
  sheets/refund_request_api.py
Due: none

rename step[
  .github/workflows/ci.yml
Due: none

chore: run pytest tests in parallel
  .github/workflows/ci.yml
  scripts/test/python_tests.sh
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
