Repository mitodl/mitxpro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, scss-lint

eslint:
  name: eslint
  description: Lint JS/TS files and apply automatic fixes
  entry: bash -c "npx eslint --fix $@"
  language: node
  args: []
  require_serial: false

scss-lint:
  name: scss-lint
  description: Lint SCSS files
  entry: bash -c "npx stylelint --allow-empty-input --fix $@"
  language: node
  args: []
  require_serial: false

fix: pre-commit errors
  ecommerce/views_test.py
Due: none

feat: added confirmation modal
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

feat: added code to log history in CouponModel on coupon deactivation
  ecommerce/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
Due: eslint

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: fmt issues
  static/scss/ecommerce-admin.scss
Due: scss-lint

fix: tests
  static/js/components/forms/CouponDeactivateForm_test.js
Due: eslint

fix: issues
  ecommerce/views.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/components/forms/CouponDeactivateForm_test.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: tests
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
Due: eslint

fix: issues
  ecommerce/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: issues
  ecommerce/views.py
Due: none

fix: issues
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
Due: eslint

fix: issues
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: issues
  static/scss/ecommerce-admin.scss
Due: scss-lint

feat: enabled access control restrictions
  ecommerce/management/commands/invalidate_payment_coupons.py
  ecommerce/permissions.py
  ecommerce/utils.py
  ecommerce/views.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/js/global_init.js
Due: eslint

fix: added and fixed tests and other errors
  ecommerce/permissions.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  fixtures/common.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/scss/ecommerce-admin.scss
  static/scss/variables.scss
Due: eslint, scss-lint

fix: ruff, flow errors
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  mitxpro/views.py
  mitxpro/views_test.py
Due: none

fix: test
  ecommerce/utils_test.py
Due: none

fix: pre-commit errors
  ecommerce/management/commands/invalidate_payment_coupons.py
  ecommerce/permissions.py
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  fixtures/common.py
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/containers/pages/admin/EcommerceAdminPages.js
Due: eslint

fix: some cleanup
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views_test.py
  mitxpro/views_test.py
Due: none

fix: included example in the note
  static/js/components/forms/CouponDeactivateForm.js
  static/scss/ecommerce-admin.scss
Due: eslint, scss-lint

fix: some issues
  ecommerce/constants.py
  ecommerce/permissions.py
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  fixtures/common.py
  mitxpro/views.py
  static/js/components/forms/CouponDeactivateForm.js
Due: eslint

fix: test
  static/js/components/forms/CouponDeactivateForm_test.js
Due: eslint

fix: some changes in utils
  ecommerce/utils.py
  ecommerce/utils_test.py
Due: none

fix: issues
  ecommerce/urls.py
  ecommerce/utils.py
  ecommerce/views.py
  ecommerce/views_test.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
Due: eslint

fix:test
  static/js/components/forms/CouponDeactivateForm_test.js
Due: eslint

fix: fmt issues
  static/js/components/forms/CouponDeactivateForm.js
Due: eslint

fix: ecommerce admin view docstring
  ecommerce/views.py
Due: none

fix: issue
  static/js/components/forms/CouponDeactivateForm.js
Due: eslint

feat: add coupons deactivate form (#3160)
  .secrets.baseline
  ecommerce/constants.py
  ecommerce/management/commands/invalidate_payment_coupons.py
  ecommerce/permissions.py
  ecommerce/urls.py
  ecommerce/utils.py
  ecommerce/utils_test.py
  ecommerce/views.py
  ecommerce/views_test.py
  mitxpro/templates/index.html
  mitxpro/urls.py
  mitxpro/views.py
  mitxpro/views_test.py
  static/js/components/forms/CouponDeactivateForm.js
  static/js/components/forms/CouponDeactivateForm_test.js
  static/js/constants.js
  static/js/containers/pages/admin/DeactivateCouponPage.js
  static/js/containers/pages/admin/DeactivateCouponPage_test.js
  static/js/containers/pages/admin/EcommerceAdminPages.js
  static/js/global_init.js
  static/js/lib/queries/ecommerce.js
  static/js/lib/urls.js
  static/scss/ecommerce-admin.scss
  static/scss/variables.scss
Due: eslint, scss-lint

Release 0.161.0
  RELEASE.rst
  mitxpro/settings.py
Due: none

fix: some tests
  static/js/components/forms/CheckoutForm_test.js
  static/js/components/forms/EditProfileForm_test.js
  yarn.lock
Due: eslint

fix: some issues
  static/js/components/forms/B2BPurchaseForm.js
  static/js/components/forms/ChangeEmailForm.js
  static/js/components/forms/ChangePasswordForm.js
  static/js/components/forms/CheckoutForm.js
  static/js/components/forms/CouponForm.js
  static/js/components/forms/CouponForm_test.js
  static/js/components/forms/EditProfileForm.js
  static/js/components/forms/EmailForm.js
  static/js/components/forms/LoginPasswordForm.js
  static/js/components/forms/RegisterDetailsForm.js
  static/js/components/forms/RegisterEmailForm.js
  static/js/components/forms/RegisterExtraDetailsForm.js
  static/js/components/forms/ResetPasswordForm.js
  static/js/lib/test_utils.js
Due: eslint

fix: coupon code download view permissions
  ecommerce/views.py
Due: none

fix: coupon code download view permissions (#3201)
  ecommerce/views.py
Due: none

Revert "fix(deps): update dependency sass to ~1.79.0"
  package.json
  yarn.lock
Due: none

Revert "fix(deps): update dependency sass to ~1.79.0" (#3203)
  package.json
  yarn.lock
Due: none

fix: html templates script issue
  mitxpro/templates/index.html
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (node_modules/|.yarn/)
  scss-lint: any of: \.scss$, but not: node_modules/
